# Laravel specific
/src/node_modules
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
/src/.env
/src/.env.backup
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log

# Docker specific
.docker/data

# IDE & Editors
/.idea
/.vscode
/.vagrant
*.sublime-project
*.sublime-workspace
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Cache files
*.cache